html, body, .root {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
 background: white;
}


/* App.js */

.search-location-header-component {
  background-color: #1f1f14;
}

.map-header-component {
  background-color: #1f1f14;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
}

.list-location-component {
  background-color: #1f1f14;
}

.map-container-component {

}


/* SearchLocationsHeader.js */

.search-locations-title{
  margin: 1em;
}

.search-locations-title h1 {
  font-size: 1.6em;
  font-family: arial;
  text-align: center;
  color: #e0e0d1;
}

.search-locations-title button {
  margin: 0 auto;
  display: block;
}

/* ListLocations.js */

.search-bar-list-locations {
  width: 100%;
}

.search-locations-bar input {
  width: 85%;
  padding: 10px 8px;
  font-size: 1em;
  margin: 10px;
}

.list-locations {
  list-style-type: none;
  padding: 0;
  margin: 0.2em;
}

.list-locations li {
  font-family: arial;
  line-height: 2em;
  font-size: 1em;
  color: #e0e0d1;
}

/* MapHeader.js */

.MapHeader {

}



/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/