
.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 80%;
  grid-template-areas:
  "search-header map-header"
  "search-list map";
  /*grid-gap: 0.2em;*/
  
}

.search-location-header-component {
  grid-area: search-header;
}

.map-header-component {
  grid-area: map-header;
  width: 100%;
}

.list-location-component {
  grid-area: search-list;
}

.map-container-component {
  grid-area: map;
}